<div class="title-container">
  <h1 class="title">Mixed Letters - {{ currentCategory?.name }}</h1>
</div>

<div *ngIf="originWord">
  <mat-card class="game-card">
    <mat-card-header>
      <mat-card-title>{{ originWord }}</mat-card-title>

      <div class="coins-container-right">
        <mat-icon class="coin-icon">attach_money</mat-icon>
        <span class="coin-count">{{ coins }}</span>
      </div>
    </mat-card-header>

    <mat-card-content>
      <!-- <p class="target-word">{{ words[currentWordIndex]?.target }}</p> -->
      <mat-form-field appearance="fill">
        <mat-label>Your Guess</mat-label>
        <input matInput [(ngModel)]="userGuess" placeholder="Enter your guess">
      </mat-form-field>
      <div class="button-group">
        <button mat-mini-fab color="primary" [disabled]="userGuess.length == 0" (click)="checkGuess()">
          <mat-icon aria-label="">spellcheck</mat-icon>
        </button>
        <button mat-mini-fab aria-label="" [disabled]="userGuess.length == 0" (click)="resetForm()">
          <mat-icon aria-label="">restore</mat-icon>
        </button>
        <button mat-mini-fab aria-label="" (click)="exitGame()">
          <mat-icon aria-label="">exit_to_app</mat-icon>
        </button>
      </div>
    </mat-card-content>
  </mat-card>
  <div class="progress-container" *ngIf="words.length > 0">
    <mat-progress-bar mode="determinate" [value]="progress" class="custom-progress-bar"></mat-progress-bar>
  </div>
</div>